<?xml version="1.0" encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Name="$(var.ProductName)" Id="*" UpgradeCode="$(var.ProductCode)" Language="1033" Manufacturer="$(var.ProductVendor)" Codepage="1252" Version="$(var.ProductVersion)">
    <Package Id='*' Platform='x86' Keywords='Installer' Description="$(var.ProductName)" Comments="$(var.ProductSummary)" InstallScope="perMachine" InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="$(var.ProductName).cab" EmbedCab="yes" />

    <!-- WixBundleOriginalSourceFolder <- The folder from which the MSI was run -->

    <SetProperty Id="InstallChocolatey"
      Before="InstallChocolatey"
      Sequence="execute"
      Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; &quot;powershell.exe -NoProfile -ExecutionPolicy Bypass -File '[#ChocolateyInstall]' -ChocolateyDownloadUrl [#ChocolateyNupkg]&quot;" />
    <CustomAction Id="InstallChocolatey" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="yes" />

    <SetProperty Id="UpgradeChocolatey"
      Before="UpgradeChocolatey"
      Sequence="execute"
      Value="&quot;[INSTALLDIR]choco.exe&quot; upgrade chocolatey --confirm --source &quot;[#ChocolateyInstallers]&quot;"  />
    <CustomAction Id="UpgradeChocolatey" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="yes" />

    <Icon Id="chocolatey.ico" SourceFile="$(var.InstallerIco)" />

    <!-- Installation Properties -->
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />      <!-- Remove repair -->
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />      <!-- Remove modify -->

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED]]>
    </Condition>

    <!--<Environment Id="ChocolateyInstallEnvVar" Action="create" Name="ChocolateyInstall" Part="all" Permanent="no" System="yes" Value="[INSTALLDIR]" />-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder" Name="ProgramData">
        <Directory Id="INSTALLDIR" Name="chocolatey" />
      </Directory>
      <Directory Id="TempFolder" Name="TempFolder" >
        <Directory Id="InstallersDirectory" Name="chocolatey$(var.ProductVersion)" >
          <Component Id="ChocolateyInstallers" Guid="{E5AD31D5-FEE3-4445-97F9-DAFEAA359CCD}" Win64="no" >
            <File Id="ChocolateyNupkg" Name="chocolatey.$(var.ProductVersion).zip" Source="$(var.NUPKG)" KeyPath="yes" Checksum="yes" />
            <File Id="ChocolateyInstall" Name="Install-Chocolatey.ps1" Source="Install.ps1" Checksum="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="Chocolatey" Description="$(var.ProductSummary)" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="Choco" Title="Chocolatey" Description="A Description" Level="1">
        <ComponentRef Id="ChocolateyInstallers" />
      </Feature>
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="InstallChocolatey" After="InstallFiles"><![CDATA[NOT Installed]]></Custom>
      <Custom Action="UpgradeChocolatey" After="InstallFiles">UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>